/* src/styles/fonts.css */
@font-face {
    font-family: 'Lazy Dog';
    src: url('../../public/assets/fonts/LazyDog/Lazydog.otf') format('truetype'); /* Adjust path if necessary */
    font-weight: normal;
    font-style: normal;
}